planner_client:
  ros__parameters:
    plan_solver_timeout: 60.0
planner:
  ros__parameters:
    plan_solver_timeout: 60.0
    plan_solver_plugins: ["Downward"]
    POPF:
      plugin: "plansys2/POPFPlanSolver"
    TFD:
      plugin: "plansys2/TFDPlanSolver"
    Symk:
      plugin: "plansys2/SymkPlanner"
    Downward:
      plugin: "plansys2/DownwardPlanner"
executor:
  ros__parameters:
    bt_builder_plugin: "SimpleBTBuilder"
    # bt_builder_plugin: "STNBTBuilder"
domain_expert:
  ros__parameters:
    validate_using_planner_node: true
